* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 5%;
}

section.main {
  background-color: #fff;
  height: 100%;
}
