<body>
  <header>
  </header>
    <main class="content">
      <section class="main">
        <h1>Fortune Teller</h1>
          <label for="stack-type">Divination Type</label>
          <select name="stack-type" id="stack-type">
            
          </select>
        <hr>
        <label for="layout-type">Layout Type</label>
        <select name="layout-type" id="layout-type">
          <option value="">Please Select Divination Type</option>
        </select>
        <button id="dealBtn">DEAL!</button>
        <hr>
        <p>RESULTS:</p>
        <p id="fortuneDiv"></p>
     </section>
      <section>
        
      </section>
    </main>
        <!-- <div id="root"></div> -->

  </body>